* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: Regular;
}

header {
    background-image: linear-gradient(to right, rgb(53, 52, 52), rgb(22, 22, 22), black);
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: Bold;
    font-size: 10vh;
}

header > p {
    padding-bottom: 50px;
}

header > p > a:hover {
    color: rgb(177, 177, 177);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: Bold;
    font-size: 2em;
}

section > p {
    padding-bottom: 1em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.274);
    text-shadow: 2px 2px 0px black;
    display: inline-block;
    padding: 5px;
}

section.normal {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(223, 223, 223), rgb(182, 182, 182));
    color: black;
}

section.imagem {
    background-color: rgba(44, 44, 44, 0.356);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url('../img/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../img/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}